* {
    font-family: Arial, sans-serif;
}

a, a:visited {
    color: darkslategrey;
}

.center {
    text-align: center;
    margin: auto;
}

.link {
    font-family: "Arial Black", sans-serif;
    font-size: x-large;
    padding: 50px;
    text-decoration: none;
}

.animation {
    display: inline-block;
    background-color: aqua;
    padding: 25px 100px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 3rem;
}

/*#extras {
    display: block;
    margin-top: 1.5rem;
    width: 12rem;
    justify-content: center;
    align-items: center;
}*/

.animation:hover {
    text-decoration: underline darkslategrey;
    text-decoration-thickness: 0.2rem;
}

#main-title {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 100px;
    color: darkviolet;
    background-color: aquamarine;
    height: 140px;
    padding: 20px;
}

h2 {
    color: mediumvioletred;
}

h3 {
    color: red;
}