* {
    font-family: Arial, sans-serif;
}

a, a:visited {
    color: #353C40;
}

.center {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.link {
    font-family: "Arial Black", sans-serif;
    font-size: x-large;
    text-decoration: none;
    display: inline-block;
    background-color: aqua;
    padding: 1.6rem 9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 3rem;
    transition: background-color 0.5s;
}

.link:hover {
    background-color: mediumspringgreen;
}

#main-title {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 6rem;
    color: darkviolet;
    background-color: aquamarine;
    height: 8.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
}

#back-button {
    font-family: "Arial Black", sans-serif;
    font-size: small;
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background-color: cadetblue;
    border-radius: 1rem;
    transition: background-color 0.3s;
}

#back-button:hover {
    background-color: darkgrey;
}

h2 {
    color: mediumvioletred;
}

h3 {
    color: red;
}